{{!
This page will be rendered when the following route is hit: GET http://localhost:3000/marvelcharacter/:id
The title of the document should be the name of the character. You should have the title set as the <title> element of
    the HTML document.

    Your page should reference a CSS file, /public/site.css; his file should have at least 10 rulesets you must use at
    least 5 of them on this page.

    You should have a main element, and inside of the main element, you will have an article tag that has an h1 with the
    character name, an img which the src is set to the value read from thumbnail.path in the data which is a URL to an
    image for the character

    You must also provide an a tag that links back to your / route with the text Make another search.
    }}   
<article> 
  {{#each singleData}}  
  <h1 class="character-header">{{name}}</h1> 
  <img class="character-image" alt="{{name}}" src="{{thumbnail.path}}.{{thumbnail.extension}}"/> 
  <p class="character-description">{{description}}</p> 
  <h2 class="comic-list-header">Comics</h2>
  <ul class="comic-list">
    {{#each comics.items}}  
    <li>
        <label>{{name}}</label>
    </li>
    {{/each}}   
  </ul>
  {{/each}} 
  {{#if hasErrors}}
  <p class="error">
    {{error}}
  </p>
  {{/if}}
</article> 
<a href="/">Search for Another Character</a>
