<article class="events">
  <h1 class="home-search-header">Events Page</h1>
  
  <form autocomplete="off" action="/action_page.php">
      <div class="autocomplete" style="width:300px;">
        <input id="eventSearchInput" type="text" name="eventSearchInput" placeholder="Event name">
      </div>
      <input type="submit">
    </form>

  {{#if loggedIn}}
  <h1>Create Event</h1>
  <form action="/events" method="POST" class="event-form" id="event-form">
    <div class="form-group">
      <label for="eventName">Event Name:</label>
      <input type="text" id="eventName" name="eventName" class="form-control" placeholder="Event Name"
          value="{{eventName}}" required>
      <br>
      <label for="eventDescription">Event Description</label>
      <input type="text" id="eventDescription" name="eventDescription" cols="50" rows="5" value="{{eventDescription}}" required>
      <br>
      <label for="eventLocation">Event Location:</label>
      <input type="text" id="eventLocation" name="eventLocation" class="form-control" placeholder="Event Location"
          value="{{eventLocation}}" required>
      <br>
      <label for="eventTime">Event Time:</label>
      <input type="text" id="eventTime" name="eventTime" class="form-control" placeholder="Event Time"
          value="{{eventTime}}" required>
      <br>
      <label for="eventDate">Event Date:</label>
      <input type="text" id="eventDate" name="eventDate" class="form-control" placeholder="Event Date"
          value="{{eventDate}}" required>
      <br>
      <div class="form-group hidden" id="error-container">
      <p class="alert alert-danger text-goes-here">
      </p>
      <button type="submit" id="event-submit" class="btnClass">Create Event</button>
    </div>
    
  </form>
  {{/if}}


  <div class="form-group hidden" id="event-container">
      <ol id="event-list"> 
        {{#each events}}  
        <div class="event-display">
          <h3>{{eventName}}</h3>
          <b>{{eventDescription}}</b>
          <b>{{eventLocation}}</b>
          <b>{{eventTime}}</b>
          <b>{{eventDate}}</b>
          <b>{{attendeeList}}</b>
          <form action="/events/addAttendee/{{this._id}}" method="POST" class="attendEvent" id="attendEvent">
            <label id="attendEvent" name="attendEvent">Attend Event:</label>
            <input type="checkbox" id="attendEvent" name="attendEvent" value="{{attend}}">
          </form>
        </div>
        {{/each}}
      </ol>
  </div> 

</article>