 <article class="posts">
  <h1 class="posts-page-header">Posts Page</h1>
  {{#if loggedIn}}
  <form action="/posts" method="POST" class="post-form" id="post-form">
      <div class="form-group">
        <label for="postTitleInput">Post Title</label>
        <input type="text" class="form-control" id="postTitleInput" name="postTitleInput" placeholder="Post Title Input"
          value="{{body}}">
      </div>
      <div class="form-group">
        <label for="postContentInput">{{postContent}}</label>
        <textarea name="postContentInput" cols="50" rows="10"> </textarea>
      </div>
    <br>
    <div class="form-group hidden" id="error-container">
      <p class="alert alert-danger text-goes-here">
      </p>
    </div>   
    <button type="submit" id="post-submit" class="btnClass">Submit Post</button>
  </form>

  {{/if}}

  <div class="form-group hidden" id="posts-container">
      <ul id="post-list">
        {{#each posts}}  
        <div id="{{_id}}" class="post" name="post:{{_id}}">
          <label>Post ID: {{_id}}</label>
          <br />
          <label>Username: {{userName}}</label>
          <br />
          <label>UserId: {{userId}}</label>
          <br />
          <label>Created: {{postDate}}</label>
          <br />
          <h3>Title: {{postTitle}}</h3>
          <p id="post-content:{{_id}}">{{postContent}}</p>
          <input type="checkbox" id="upvoteInput{{_id}}" name="upvoteInput{{_id}}" class="upvote-checkbox"/>
          <label for="upvoteInput">Upvote</label>       
          <label for="upvoteCount"> | Upvote Count {{postUpvotes.length}}</label>
          <label id="post-upvotes" >{{postUpvotes}}</label>
          <button type="button" id="word-breakdown-btn:{{_id}}" class="btnClass word-breakdown">Word Frequency Breakdown</button>
          <form action="/posts/{{_id}}/comments/{{userId}}" method="POST" class="post-form" id="post-comment-form">
            <div class="form-group">
              <input hidden name="userIdLabel" id="userIdLabel" value="{{userId}}">User ID: {{userId}}</label>
              <label for="postCommentInput">Post Comment:</label>
              <textarea name="postCommentInput" cols="50" rows="10">{{body}}</textarea>
            </div>
            <button type="submit" id="post-comment-submit" class="freqBtnClass">Submit Comment</button>
          </form>
          
          <h4>Comments:</h4>
          <ul>
            {{#each postComments}}
            <label>UserID: {{userId}}</label>
            <br/>
            <label>Commented On: {{createDate}}</label></lavel>
            <p>{{content}}</p>
            {{/each}}
          </ul>
        </div>
        <br/>
        <hr/>
        {{/each}}
        </ul>      
  </div> 
</article>